openapi: 3.0.0
info:
  description: "Before starting to use the Kenjo API, you have to request the API\
    \ activation for a sandbox or production environment to the Kenjo Customer Success\
    \ team. After that, an admin user has to go to *Settings > Integrations > API\
    \ keys*, to generate the **API Key**. Follow the steps described in the **Autentication\
    \ section** of this document. <br>The API key is needed to request the bearer\
    \ token. Each endpoint callout requires a valid bearer token in the Authorization\
    \ header. Once the token is retrieved, it will be useful during the time limit\
    \ indicated by the 'expiration date'."
  termsOfService: https://www.kenjo.io/legal/terms-and-conditions
  title: Kenjo API
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- description: Sandbox environment
  url: https://sandbox-api.kenjo.io/api/v1
- description: Production environment
  url: https://api.kenjo.io/api/v1
tags:
- description: Operations to manage employees in Kenjo.
  name: Employees
- description: Operations to manage attendance entries related to employees.
  name: Attendance
- description: Operations to manage offices in Kenjo.
  name: Offices
- description: Operations to manage departments in Kenjo.
  name: Departments
- description: Operations to manage teams in Kenjo.
  name: Teams
- description: Operations to manage areas in Kenjo.
  name: Areas
- description: "Operations to manage employments, salaries and additional payments\
    \ in Kenjo."
  name: Compensation
- description: Operations to login and logout.
  name: Authentication
- description: Operations to list calendars in Kenjo.
  name: Calendars
- description: Operations to list the existing employees in Kenjo.
  name: User accounts
- description: Operations to list companies in Kenjo.
  name: Companies
- description: Operations to manage custom fields in Kenjo.
  name: Custom fields
- description: "Operations to manage time off types, policies and requests in Kenjo."
  name: Time off
paths:
  /auth/login:
    post:
      description: Create a bearer token to allow connecting the API.
      operationId: Authentication_createBearerToken
      requestBody:
        content:
          application/json:
            example:
              apiKey: 5b8555a77b62b223d27593bcd15e172c2936590391fe4dea8e31f9b9
            schema:
              $ref: '#/components/schemas/AuthenticationCreateBearerTokenRequest'
            x-konfig-original-example:
              apiKey: 5b8555a77b62b223d27593bcd15e172c2936590391fe4dea8e31f9b9
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerTokenResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-login
      x-content-type: application/json
      x-accepts: application/json
  /auth/logout:
    post:
      description: Invalidates a Bearer token.
      operationId: Authentication_invalidateToken
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-logout
      x-accepts: application/json
  /attendances/{attendanceId}:
    delete:
      description: This endpoint delete the attendance entry specified by **attendanceId**.
      operationId: Attendance_removeById
      parameters:
      - description: The Kenjo _id of the attendance entry to remove.
        explode: false
        in: path
        name: attendanceId
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-attendanceId-delete-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--attendances-attendanceId
      x-accepts: application/json
    get:
      description: This endpoint returns one attendance entry specified by  **attendanceId**.
      operationId: Attendance_getById
      parameters:
      - description: The _id of the attendance entry to request.
        explode: false
        in: path
        name: attendanceId
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-attendanceId-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendances-attendanceId
      x-accepts: application/json
    put:
      description: This endpoint updates the attendance entry specified by **attendanceId**.
        Only the fields submitted in the body will be updated.
      operationId: Attendance_updateEntry
      parameters:
      - description: The _id of the attendance entry to update.
        explode: false
        in: path
        name: attendanceId
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-attendanceId-put-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceUpdateEntryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                _id: 60a2db290da29e126a187891
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: "00001"
                date: 2021-07-01
                startTime: 36000
                endTime: 46800
                breaks:
                - start: 36000
                  end: 37800
                breakTime: 30
                comment: Morning working attendance tracking.
              schema:
                $ref: '#/components/schemas/AttendanceUpdateEntryResponse'
              x-konfig-original-example:
                _id: 60a2db290da29e126a187891
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: "00001"
                date: 2021-07-01
                startTime: 36000
                endTime: 46800
                breaks:
                - start: 36000
                  end: 37800
                breakTime: 30
                comment: Morning working attendance tracking.
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--attendances-attendanceId
      x-content-type: application/json
      x-accepts: application/json
  /attendances:
    get:
      description: "This endpoint returns an array of objects with all the existing\
        \ attendance entries within Kenjo for a maximum of 31 days, defined by the\
        \ required params **from** and **to**. Every object contains an attendance\
        \ entry."
      operationId: Attendance_getList
      parameters:
      - description: A date in format YYYY-MM-DD to indicate the starting point.
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2021-02-01
          type: string
          x-konfig-original-example: 2021-02-01
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-get-parameters-0-schema
        style: form
      - description: A date in format YYYY-MM-DD to indicate the ending point.
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2021-02-04
          type: string
          x-konfig-original-example: 2021-02-04
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-get-parameters-1-schema
        style: form
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendances
      x-accepts: application/json
    post:
      description: "This endpoint creates an attendance entry for a one employee,\
        \ so an user *identifier* is required to build this relationship. The following\
        \ *identifiers* are the valid ones: **userId**, **email** or **externalId**.\
        \ Also one **startTime** and one **date** are required.<br>The new entry will\
        \ have an unique identifier **_id**. This value is returned in the body response.<br><br>\
        \ A day accepts many attendance entries per employee but they cannot be overlapped.\
        \ It means that if, for example, *there is an entry the 2021-06-10 between\
        \ 09:00 and 10:00 for the user E-111, then the creation of an new entry for\
        \ E-111 in the 2021-06-10 whose startDate or endDate is between 09:00 and\
        \ 10:00 will become a BAD REQUEST*."
      operationId: Attendance_createEntry
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              userId: 50a2db290da29e126a18789a
              email: john@acme.io
              externalId: "00001"
              date: 2021-07-01
              startTime: 36000
              endTime: 46800
              breaks:
              - start: 36000
                end: 37800
              comment: Morning working attendance tracking.
            schema:
              $ref: '#/components/schemas/AttendanceCreateEntryRequest'
            x-konfig-original-example:
              userId: 50a2db290da29e126a18789a
              email: john@acme.io
              externalId: "00001"
              date: 2021-07-01
              startTime: 36000
              endTime: 46800
              breaks:
              - start: 36000
                end: 37800
              comment: Morning working attendance tracking.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceCreateEntryResponse'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--attendances
      x-content-type: application/json
      x-accepts: application/json
  /attendances/track-time:
    post:
      description: "This endpoint tracks time only providing the following information:\
        \ **employee identifier** and a **date time**. The following identifiers are\
        \ the valid ones: **userId**, **email** or **externalId**, only one of them\
        \ is required. This action abstracts and simplifies the entries tracking,\
        \ ensuring internally the order and transforming each track action to a Kenjo\
        \ user attendance format.<br><br>Example: Three calls for the employee E-111\
        \ to the */track-time* endpoint contains the following data:<br>T1: 2021-01-01T08:00:00<br>T2:\
        \ 2021-01-01T09:00:00<br>T3: 2021-01-01T10:00:00<br>The three calls order\
        \ is T1, T2, T3.<br><br>Then in Kenjo there will be 2 attendance pairs:<br>1:\
        \ 08:00 / 09:00<br>2: 10:00 / --:--<br>The second pair is open, with no **endTime**\
        \ info, until a new one comes. <br><br>If there is a new track: 2021-01-01T12:00:00,\
        \ then the result will be:<br>1: 08:00 / 09:00<br>2: 10:00 / 12:00<br>If the\
        \ track is 2021-01-01T07:00:00 instead, then the previous tracks are reordered\
        \ to be consistent with concept of attendance pairs:<br>1: 07:00 / 08:00<br>2:\
        \ 09:00 / 10:00"
      operationId: Attendance_createTrackTime
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              userId: 50a2db290da29e126a18789a
              email: john@acme.io
              externalId: "00001"
              dateTime: 2021-07-01T09:00:00
            schema:
              $ref: '#/components/schemas/AttendanceCreateTrackTimeRequest'
            x-konfig-original-example:
              userId: 50a2db290da29e126a18789a
              email: john@acme.io
              externalId: "00001"
              dateTime: 2021-07-01T09:00:00
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: "00001"
                dateTime: 2021-07-01T09:00:00
              schema:
                $ref: '#/components/schemas/AttendanceCreateTrackTimeResponse'
              x-konfig-original-example:
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: "00001"
                dateTime: 2021-07-01T09:00:00
          description: CREATED. The returned body matches with the input body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--attendances-track-time
      x-content-type: application/json
      x-accepts: application/json
  /attendances/categories:
    get:
      description: This endpoint returns an array of objects. Every object contains
        an attendance category.
      operationId: Attendance_getCategories
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetCategoriesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendances-categories
      x-accepts: application/json
  /attendances/expected-time:
    get:
      description: This endpoint returns a paginated list of expected time by user
        for a given date range.
      operationId: Attendance_getExpectedTimeByUser
      parameters:
      - description: A date in format YYYY-MM-DD to indicate the starting point.
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2020-01-01
          type: string
          x-konfig-original-example: 2020-01-01
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-0-schema
        style: form
      - description: A date in format YYYY-MM-DD to indicate the ending point.
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2020-01-10
          type: string
          x-konfig-original-example: 2020-01-10
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-1-schema
        style: form
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: Optional filter. The company id of the Kenjo employee.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          example: 80a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 80a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-3-schema
        style: form
      - description: Optional filter. The office id of the Kenjo employee.
        explode: true
        in: query
        name: officeId
        required: false
        schema:
          example: 80a2db290da29e126a18789d
          type: string
          x-konfig-original-example: 80a2db290da29e126a18789d
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-4-schema
        style: form
      - description: Optional filter. The department id of the Kenjo employee.
        explode: true
        in: query
        name: departmentId
        required: false
        schema:
          example: 80a2db290da29e126a18789c
          type: string
          x-konfig-original-example: 80a2db290da29e126a18789c
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-5-schema
        style: form
      - description: "Optional filter. The id of the Kenjo employee. It accepts 2\
          \ formats:<br><br> 1. An unique string with the Kenjo employee id. <br>Example:\
          \ *userId=80a2db290da29e126a18789c* <br><br> 2. A string with more than\
          \ one Kenjo employee ids separated by commas (until 15 ids as maximum).\
          \ <br>Example: *userId=80a2db290da29e126a18789c,80a2db290da29e126a18789b,80a2db290da29e126a187891*"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          example: 80a2db290da29e126a18789c
          type: string
          x-konfig-original-example: 80a2db290da29e126a18789c
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-6-schema
        style: form
      - description: "Optional filter for pagination proposals. Determines the number\
          \ of pages to skip when pagination is being used. If this value is not provided,\
          \ by default the offset will be 1."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 1
          type: number
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-7-schema
        style: form
      - description: "Optional filter for pagination proposals. The maximum number\
          \ of rows to retrieve which determines the size of the page. If this value\
          \ is not provided then the limit will be 50 users. The maximum value of\
          \ the limit is 100 users per page. Only are valid the following limit values:\
          \ 25, 50 and 100."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 25
          type: number
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-paths--attendances-expected-time-get-parameters-8-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceGetExpectedTimeByUserResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Attendance
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendances-expected-time
      x-accepts: application/json
  /companies:
    get:
      description: Returns a list of the existing companies in Kenjo.
      operationId: Companies_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: The name of the company.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: ACME Ltd
          type: string
          x-konfig-original-example: ACME Ltd
          x-konfig-generated-schema: konfig-generated-schema-paths--companies-get-parameters-1-schema
        style: form
      - description: The city of the company.
        explode: true
        in: query
        name: city
        required: false
        schema:
          example: Madrid
          type: string
          x-konfig-original-example: Madrid
          x-konfig-generated-schema: konfig-generated-schema-paths--companies-get-parameters-2-schema
        style: form
      - description: The country code of the company in ISO 3166-1 alpha-2.
        explode: true
        in: query
        name: country
        required: false
        schema:
          example: ES
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-paths--companies-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Companies
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies
      x-accepts: application/json
  /offices:
    get:
      description: Returns a list of the existing offices in Kenjo.
      operationId: Offices_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: The name of the office.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Berlin office
          type: string
          x-konfig-original-example: Berlin office
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-1-schema
        style: form
      - description: The Kenjo id of the company.
        explode: true
        in: query
        name: companyId
        required: false
        schema:
          example: 40a2db290da29e126a187895
          type: string
          x-konfig-original-example: 40a2db290da29e126a187895
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-2-schema
        style: form
      - description: The Kenjo id of the calendar.
        explode: true
        in: query
        name: calendarId
        required: false
        schema:
          example: 40a2db290da29e126a187895
          type: string
          x-konfig-original-example: 40a2db290da29e126a187895
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-3-schema
        style: form
      - description: The street of the office.
        explode: true
        in: query
        name: street
        required: false
        schema:
          example: "Urbanstrasse, 71"
          type: string
          x-konfig-original-example: "Urbanstrasse, 71"
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-4-schema
        style: form
      - description: The postal code of the office.
        explode: true
        in: query
        name: postalCode
        required: false
        schema:
          example: "34213"
          type: string
          x-konfig-original-example: "34213"
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-5-schema
        style: form
      - description: The city of the office.
        explode: true
        in: query
        name: city
        required: false
        schema:
          example: Berlin
          type: string
          x-konfig-original-example: Berlin
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-6-schema
        style: form
      - description: The country of the office in ISO code.
        explode: true
        in: query
        name: country
        required: false
        schema:
          example: DE
          type: string
          x-konfig-original-example: DE
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-get-parameters-7-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Offices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--offices
      x-accepts: application/json
    post:
      description: "Creates a new office.<br><br>The required fields are *name*, *companyId*,\
        \ *calendarId*.<br>Optional fields are *street*, *postalCode*, *city* and\
        \ *country*. <br> The *country* field has to be a valid ISO country code."
      operationId: Offices_createNewOffice
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfficesCreateNewOfficeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesCreateNewOfficeResponse'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Offices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--offices
      x-content-type: application/json
      x-accepts: application/json
  /offices/{id}:
    delete:
      description: Removes the office referenced by *id*.
      operationId: Offices_removeById
      parameters:
      - description: The _id of the office entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-id-delete-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Offices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--offices-id
      x-accepts: application/json
    get:
      description: Returns the office referenced by *id*.
      operationId: Offices_getById
      parameters:
      - description: The _id of the office entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-id-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Offices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--offices-id
      x-accepts: application/json
    put:
      description: Updates an office referenced by *id*. Only the attributes submitted
        are modified.
      operationId: Offices_updateOfficeAttributes
      parameters:
      - description: The _id of the office entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--offices-id-put-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfficesUpdateOfficeAttributesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesUpdateOfficeAttributesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Offices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--offices-id
      x-content-type: application/json
      x-accepts: application/json
  /departments:
    get:
      description: Returns a list of the existing departments in Kenjo.
      operationId: Departments_listDepartments
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: The department name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Happiness dept.
          type: string
          x-konfig-original-example: Happiness dept.
          x-konfig-generated-schema: konfig-generated-schema-paths--departments-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsListDepartmentsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Departments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--departments
      x-accepts: application/json
    post:
      description: Creates a new department.<br>The *name* is the only required field.<br>
      operationId: Departments_createNewDepartment
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsCreateNewDepartmentRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartmentResponse'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Departments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--departments
      x-content-type: application/json
      x-accepts: application/json
  /departments/{id}:
    delete:
      description: Removes the department referenced by *id*.
      operationId: Departments_removeById
      parameters:
      - description: The _id of the department entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--departments-id-delete-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Departments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--departments-id
      x-accepts: application/json
    get:
      description: Returns the department referenced by *id*.
      operationId: Departments_getById
      parameters:
      - description: The _id of the department entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--departments-id-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Departments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--departments-id
      x-accepts: application/json
    put:
      description: Updates a deparment referenced by *id*. Only the attributes submitted
        are modified.
      operationId: Departments_updateAttributes
      parameters:
      - description: The _id of the deparment entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--departments-id-put-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsUpdateAttributesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateAttributesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Departments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--departments-id
      x-content-type: application/json
      x-accepts: application/json
  /teams:
    get:
      description: Returns a list of the existing teams in Kenjo.
      operationId: Teams_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: The team name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Developers
          type: string
          x-konfig-original-example: Developers
          x-konfig-generated-schema: konfig-generated-schema-paths--teams-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--teams
      x-accepts: application/json
    post:
      description: Creates a new team.<br>The *name* is the only required field.<br>
      operationId: Teams_createTeam
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsCreateTeamRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsCreateTeamResponse'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--teams
      x-content-type: application/json
      x-accepts: application/json
  /teams/{id}:
    delete:
      description: Removes the team referenced by *id*.
      operationId: Teams_removeTeam
      parameters:
      - description: The _id of the team entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--teams-id-delete-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--teams-id
      x-accepts: application/json
    get:
      description: Returns the team referenced by *id*.
      operationId: Teams_getById
      parameters:
      - description: The _id of the team entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--teams-id-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--teams-id
      x-accepts: application/json
    put:
      description: Updates a team referenced by *id*. Only the attributes submitted
        are modified.
      operationId: Teams_updateTeamAttributes
      parameters:
      - description: The _id of the team entry to request. Required field.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--teams-id-put-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsUpdateTeamAttributesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsUpdateTeamAttributesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--teams-id
      x-content-type: application/json
      x-accepts: application/json
  /areas:
    get:
      description: Returns a list of the existing areas in Kenjo.
      operationId: Areas_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Areas
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--areas
      x-accepts: application/json
    post:
      description: Creates a new area.<br>The *name* is the only required field.<br>
      operationId: Areas_createNewArea
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreasCreateNewAreaRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasCreateNewAreaResponse'
          description: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Areas
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--areas
      x-content-type: application/json
      x-accepts: application/json
  /areas/{id}:
    delete:
      description: Removes the area referenced by *id*.
      operationId: Areas_removeById
      parameters:
      - description: The _id of the area entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--areas-id-delete-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "204":
          description: NO CONTENT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Areas
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--areas-id
      x-accepts: application/json
    get:
      description: Returns the area referenced by *id*.
      operationId: Areas_getById
      parameters:
      - description: The _id of the area entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--areas-id-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Areas
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--areas-id
      x-accepts: application/json
    put:
      description: Updates a area referenced by *id*. Only the attributes submitted
        are modified.
      operationId: Areas_updateAreaById
      parameters:
      - description: The _id of the area entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--areas-id-put-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreasUpdateAreaByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasUpdateAreaByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Areas
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--areas-id
      x-content-type: application/json
      x-accepts: application/json
  /calendars:
    get:
      description: Returns a list of the existing calendars in Kenjo.
      operationId: Calendars_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      - description: The calendar name.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Madrid Calendar
          type: string
          x-konfig-original-example: Madrid Calendar
          x-konfig-generated-schema: konfig-generated-schema-paths--calendars-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsGetListResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Calendars
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--calendars
      x-accepts: application/json
  /calendars/{id}:
    get:
      description: Returns the calendar referenced by *id*.
      operationId: Calendars_getById
      parameters:
      - description: The _id of the calendar entry to request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 60a2db290da29e126a18789a
          type: string
          x-konfig-original-example: 60a2db290da29e126a18789a
          x-konfig-generated-schema: konfig-generated-schema-paths--calendars-id-get-parameters-0-schema
        style: simple
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsGetByIdResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - Calendars
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--calendars-id
      x-accepts: application/json
  /user-accounts:
    get:
      description: "This endpoint returns an array of objects with the existing employees\
        \ in Kenjo. Every object contains the basic employee information from **account**,\
        \ **personal** and **work** sections per each existing employee."
      operationId: UserAccounts_listEmployees
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          type: string
          x-konfig-original-example: Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-authorization-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountsListEmployeesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateBearerToken400Response'
          description: BAD REQUEST. This is a wrong request in the client side due
            to invalid body or params.
          x-do-not-generate: true
        "401":
          description: "UNAUTHORIZED. The Authorization header is incorrect, not provided\
            \ or the token expired."
      tags:
      - User accounts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--user-accounts
      x-accepts: application/json
  /employees:
    get:
      description: This endpoint returns the list of employee accounts existing in
        Kenjo. It is similar to the */employees/accounts* endpoint.
      operationId: Employees_getList
      parameters:
      - description: A valid bearer token.
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
[...]
